/* Add screen styles below */
.stage-1-button {
    background: #000;
    color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: larger;
}

#button-1 {
    color: black ;
}

#title-1 {
    color: white
}

.textbox {
    margin: 10px;
    padding: 10px;
}